# 関連時系列を使ったバージョン
fill指定して、relatedの影響でDeepAR+使われない現象を阻止

# Kaggle提出用ファイルを作成する

In [2]:
import boto3
import botocore

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame()
for i in range(200):
    #print(i)
    df_tmp = pd.read_csv(f's3://work-kaggle-ohio/store-sales-time-series-forecasting/export_forecast_tgt_rlt_with_fill/tgt_rlt_with_fill_2022-01-21T00-40-51Z_part{i}.csv')
    df = pd.concat([df, df_tmp])

In [7]:
df['family'] = df['item_id'].str.upper()
df['date'] = df['date'].str[0:10]
df['sales'] = df['p50']

In [8]:
df

,item_id,date,store_nbr,p10,p50,p90,family,sales
0,automotive,2017-08-16,34,0.160447,3.065001,6.620016,AUTOMOTIVE,3.065001
1,automotive,2017-08-17,34,0.160653,3.314044,7.130421,AUTOMOTIVE,3.314044
2,automotive,2017-08-18,34,0.365376,3.508948,7.778237,AUTOMOTIVE,3.508948
3,automotive,2017-08-19,34,0.740942,3.739058,7.471358,AUTOMOTIVE,3.739058
4,automotive,2017-08-20,34,0.513722,3.751151,7.530036,AUTOMOTIVE,3.751151
...,...,...,...,...,...,...,...,...
139,prepared foods,2017-08-27,50,75.885934,106.519632,140.292248,PREPARED FOODS,106.519632
140,prepared foods,2017-08-28,50,52.183660,82.304762,113.613989,PREPARED FOODS,82.304762
141,prepared foods,2017-08-29,50,45.698334,73.097882,102.749800,PREPARED FOODS,73.097882
142,prepared foods,2017-08-30,50,50.479937,80.544604,110.108512,PREPARED FOODS,80.544604
143,prepared foods,2017-08-31,50,47.177215,77.758039,111.499810,PREPARED FOODS,77.758039

In [9]:
df_test = pd.read_csv('../input/test.csv')

In [10]:
df_test

            id        date  store_nbr                      family  onpromotion
0      3000888  2017-08-16          1                  AUTOMOTIVE            0
1      3000889  2017-08-16          1                   BABY CARE            0
2      3000890  2017-08-16          1                      BEAUTY            2
3      3000891  2017-08-16          1                   BEVERAGES           20
4      3000892  2017-08-16          1                       BOOKS            0
...        ...         ...        ...                         ...          ...
28507  3029395  2017-08-31          9                     POULTRY            1
28508  3029396  2017-08-31          9              PREPARED FOODS            0
28509  3029397  2017-08-31          9                     PRODUCE            1
28510  3029398  2017-08-31          9  SCHOOL AND OFFICE SUPPLIES            9
28511  3029399  2017-08-31          9                     SEAFOOD            0

[28512 rows x 5 columns]

In [11]:
df_mrg = pd.merge(df_test, df, how='left', on=['date', 'store_nbr', 'family'])

In [12]:
df_mrg[['id' ,'sales']].to_csv('../submit/sub_forecast_tgt_rlt_withfill.csv', index=False)